*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb{
    background-color: rgb(255, 31, 31);
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgb(255, 110, 110);
}

nav{
    height: 80px;
    background-color: rgb(255, 76, 76);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
    z-index: 100;
}

nav ul{
    display: flex;
    list-style: none;
    z-index: 100;
}

nav ul li{
    padding: 5px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1.2rem;
    /* color: rgb(255, 76, 76);
    background-color: white; */
    border-radius: 10px;
    transition: all 0.3s ease;
}


nav ul li a.active,
nav ul li a:hover{
    color: rgb(255, 76, 76);
    background-color: white;
}

nav .menu-btn i{
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
    display: none;
}

#click{
    display: none;
}

.logo {
    width: 150px;
}

.logo img{
    width: 100%;
}

/* slider */

#slider{
    overflow: hidden;
}

#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 15s sliderAnim infinite;
}

#slider figure img{
    width: 20%;
    float: left;
}

/* home section */

.home-section-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 20vh;
}

.home-section-btns{
    display: flex;
    height: 18vh;
    align-items: center;
    justify-content: center;
}

.btns{
    padding: 10px;
}

.btns a{
    padding: .7rem 1rem;
    border: 2px solid rgb(255, 76, 76);
    text-decoration: none;
    color: rgb(255, 31, 31);
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}

.btns a:hover{
    background-color: rgb(255, 31, 31);
    color: #fff;
}

.home-section-top h1{
    width: 65%;
    text-align: center;
}

.inverce{
    flex-direction: row-reverse;
}

.home-content{
    padding: 0% 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10vh;
}

.home-content-img{
    width: 40%;
}

.home-content-img img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 3px solid rgb(255, 76, 76);
}

.home-content-text {
    text-align: center;
    width: 60%;
    padding-right: 3%;
    padding-left: 3%;
}


/* about us Page */


.about-section-top{
    background-image: url(../images/heading-background.jpg);
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}

.spacing{
    width: 100%;
    height: 5vh;
}

/* .aboutus-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.aboutus-img{
    width: 40%;
}

.aboutus-img img{
    width: 100%;
    border-radius: 20px;
    border: 3px solid rgb(255, 76, 76);
}

.aboutus-txt{
    width: 50%;
}

.aboutus-half{
    padding: 5vh 20%;
}

.aboutus-half h3{
    padding: 10px;
    text-align: center;
} */


/* Services */

.Services-page{
    width: 100%;
}

.heading{
    color: rgb(255, 31, 31);
    text-align: center;
    padding: 20px;
    width: 100%;
}

.inner-box-services{
    width: 31%;
    text-align: center;
    border: 3px solid rgb(255, 76, 76);
    border-radius: 20px;
    padding: 20px;
}

.services-content{
    padding-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Services-inner-box-content{
    padding: 20px 10px;
}


@keyframes sliderAnim {
    0% {
        left: 0;
    }

    20%{
        left: 0;
    }

    25%{
        left: -100%;
    }

    45%{
        left: -100%;
    }

    50%{
        left: -200%;
    }

    70%{
        left: -200%;
    }

    75%{
        left: -300%;
    }

    95%{
        left: -300%;
    }

    100%{
        left: -400%;
    }
}

@media (max-width:920px) {
    .logo{
        width: 120px
    }

    nav{
        padding: 0px 50px 0px 30px;
    }
    
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background: rgb(255, 31, 31);
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
    }

    #click:checked ~ ul{
        left: 0%;
    }

    nav ul li {
        margin: 30px 0;
    }

    nav ul li a{
        font-size: 1.4rem;
        font-weight: bold;
        letter-spacing: 1px;
    }

    nav ul li a.active,
    nav ul li a:hover{
        color: rgb(0, 0, 75);
        background-color: rgb(255, 31, 31);
    }
    nav .menu-btn i{
        display: block;
    }

    #click:checked ~ .menu-btn i:before{
        content: "\f00d";
    }

    /* home section */

    .home-section-top{
        display: block;
        padding-top: 5vh;
    }

    .home-section-top h1{
        width: 100%;
        font-size: 1.2rem;
    }

    .btns a{
        padding: .6rem .9rem;
    }

    .home-content{
        display: block;
        padding: 10vh 8%;
    }

    .home-content-img{
        width: 100%;
        padding: 0% 15%;
        padding-top: 3vh;
    }

    .home-content-text{
        width: 100%;
    }

    .home-content-text p{
        font-size: .9rem;
    }

    /* #slider{
        height: 50vh;
    }

    #slider figure{
        height: 50vh;
    }

    #slider figure img{
        height: 50vh;
    } */


    /* Services Page */

    .services-content{
        display: block;
    }

    .inner-box-services{
        width: 100%;
        border: none;
    }


}
